.logoContainer {
  width: 100%;
  max-width: 300px; /* Adjust the max-width as needed */
  height: auto;
  display: flex;
  color: white;
  flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
  gap: 10px;
  padding: 10px;
}

.logoImage {
  height: 22px;
  width: 22px;
  align-self: baseline;
}

.logoTitle {
  font-family: "Sora", sans-serif;
  font-size: 25px;
  align-self: baseline;
}

.logoBeta {
  background-color: #cccccc;
  height: fit-content;
  padding: 1px 5px;
  border-radius: 5px;
  color: #232426;
  font-family: "Inter", sans-serif;
  font-size: 10px;
}

@media (max-width: 600px) {
  .logoTitle {
    font-size: 14px;
  }

  .logoBeta {
    font-size: 8px;
  }
}
